@font-face {
  font-family: 'theboldfont';
  src: url('theboldfont.ttf');
}
* {
  box-sizing: border-box;
  color: #28131b;
  padding: 0px;
}
body {
  background-color: #e3c759;
}
#title {
  font-size: 7vw;
  font-family: 'theboldfont';
  line-height: 0.1em;
}
#fText {
  position: fixed;
  margin-top: 10vw;
  margin-left: 30vw;
  z-index: 1;
}
#uText {
  position: fixed;
  margin-left: 35vw;
  margin-top: 19vw;
  z-index: -1;
}
#sTextFirst {
  position: fixed;
  margin-left: 44vw;
  margin-top: 24vw;
  z-index: 1;
}
#cText {
  position: fixed;
  margin-left: 35vw;
  margin-top: 32vw;
  z-index: -1;
}
#aText {
  position: fixed;
  margin-left: 45vw;
  margin-top: 36.2vw;
  z-index: 1;
}
#sTextSecond {
  position: fixed;
  margin-left: 55vw;
  margin-top: 39.5vw;
  z-index: 1;
}
#rectangle {
  position: fixed;
  margin-top: 78.6vh;
  width: 100vw;
  height: 30vw;
  background: #e3c759;
}
#imageContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.img {
  margin-top: 2vw;
  margin-left: -2vw;
  width: 100%;
}
#square {
  position: fixed;
  margin-left: 18vw;
  margin-top: 7vh;
  width: 7vw;
  height: 7vw;
  background: #28131b;
}
#narrowLineUpper {
  position: fixed;
  margin-left: 13vw;
  margin-top: 7vh;
  width: 4vh;
  height: 0.5vh;
  background: #28131b;
  z-index: 1;
}
#upperContentNumbers {
  position: fixed;
  font-family: 'theboldfont';
  font-size: 5em;
  margin-left: 18.2vw;
  margin-top: 10vh;
  z-index: 1;
  color: #e3c759;
}
#upperContentSymbol {
  text-decoration: underline;
  position: fixed;
  font-family: 'theboldfont';
  font-size: 2em;
  margin-left: 23.4vw;
  margin-top: 9.7vh;
  z-index: 1;
  color: #e3c759;
}
#upperContentText {
  line-height: 8vh;
  letter-spacing: 1.5vw;
  position: fixed;
  font-family: 'theboldfont';
  font-size: 2em;
  margin-left: 18vw;
  margin-top: 19vh;
  z-index: 1;
  color: #28131b;
}
#narrowLineLower {
  position: fixed;
  margin-left: 13vw;
  margin-top: 70vh;
  width: 3vh;
  height: 0.5vh;
  background: #28131b;
  z-index: 1;
}
#lowerContentTitle {
  line-height: 2vh;
  letter-spacing: 0.7vw;
  position: fixed;
  font-family: 'theboldfont';
  font-size: 1em;
  margin-left: 13vw;
  margin-top: 72vh;
  z-index: 1;
  color: #28131b;
}
#lowerContentText {
  line-height: 2.4vh;
  letter-spacing: 0.3vw;
  position: fixed;
  font-family: sans-serif;
  font-size: 0.9em;
  margin-left: 13vw;
  margin-top: 77vh;
  z-index: 1;
  color: #28131b;
}
#midTitle {
  line-height: 2vw;
  letter-spacing: 0.1vw;
  position: fixed;
  font-family: 'theboldfont';
  font-size: 1vw;
  margin-left: 36vw;
  margin-top: 79.5vh;
  z-index: 1;
  color: #28131b;
}
#midDate {
  text-decoration: underline;
  line-height: 2vw;
  letter-spacing: 0.7vw;
  position: fixed;
  font-family: 'Josefin Sans';
  font-size: 4vw;
  margin-left: 36vw;
  margin-top: 84.5vh;
  z-index: 1;
  color: #28131b;
}
#midSubtitle {
  line-height: 2vw;
  letter-spacing: 0.2vw;
  position: fixed;
  font-family: 'theboldfont';
  font-size: 1.7vw;
  margin-left: 41.7vw;
  margin-top: 90.5vh;
  z-index: 1;
  color: #28131b;
}
#sideTextLight {
  line-height: 2.4vw;
  letter-spacing: 0.3vw;
  position: fixed;
  font-family: sans-serif;
  font-size: 1em;
  margin-left: 67vw;
  margin-top: 20vh;
  z-index: 1;
  color: #28131b;
}
#sideTextBold {
  line-height: 2.4vw;
  letter-spacing: 0.3vw;
  position: fixed;
  font-family: 'theboldfont';
  font-size: 1em;
  margin-left: 67vw;
  margin-top: 33vh;
  z-index: 1;
  color: #28131b;
}
#narrowLineRight {
  position: fixed;
  margin-left: 67vw;
  margin-top: 56vh;
  width: 4vh;
  height: 0.5vh;
  background: #28131b;
  z-index: 1;
}
#logoPlacement {
  position: fixed;
  width: 7vw;
  margin-left: 75vw;
  margin-top: 5vh;
}
